params {
    input        = null
    fasta        = null
    gff          = null
    outdir       = 'results'
    strandedness = 'unstranded'   // unstranded | forward | reverse
    max_cpus     = 16

    // featureCounts
    fc_feature_type  = 'CDS'
    fc_group_by      = 'locus_tag'
    fc_extra_args    = '-M --fraction'   // count multi-mappers as fractions

    // bowtie2
    bt2_extra_args   = '--sensitive --no-discordant -k 200'
}

process {
    withName: 'PREPARE_GFF' {
        container = 'python:3.9-slim'                                                // Docker Hub (stdlib only)
        cpus      = 1
        memory    = '2 GB'
        time      = '30m'
    }
    withName: 'BOWTIE2_BUILD' {
        container = 'quay.io/biocontainers/bowtie2:2.5.4--he96a11b_7'
        cpus      = { Math.min(params.max_cpus as int, 8) }
        memory    = '16 GB'
        time      = '2h'
    }
    withName: 'BOWTIE2_ALIGN' {
        container = 'quay.io/biocontainers/bowtie2:2.5.4--he96a11b_7'
        cpus      = { params.max_cpus as int }
        memory    = '32 GB'
        time      = '12h'
    }
    withName: 'SAMTOOLS_SORT' {
        container = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_1'
        cpus      = { Math.min(params.max_cpus as int, 8) }
        memory    = '16 GB'
        time      = '2h'
    }
    withName: 'SAMTOOLS_INDEX' {
        container = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_1'
        cpus      = { Math.min(params.max_cpus as int, 4) }
        memory    = '8 GB'
        time      = '1h'
    }
    withName: 'FEATURECOUNTS' {
        container = 'quay.io/biocontainers/subread:2.0.6--he4a0461_2'
        cpus      = { Math.min(params.max_cpus as int, 16) }
        memory    = '32 GB'
        time      = '4h'
    }
    withName: 'CALC_TPM' {
        container = 'python:3.9-slim'                                                // Docker Hub (stdlib only)
        cpus      = 2
        memory    = '4 GB'
        time      = '30m'
    }
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.cacheDir   = System.getenv('NXF_SINGULARITY_CACHEDIR') ?: "${HOME}/.singularity"
    }
    conda {
        conda.enabled = true
    }
    slurm {
        process.executor      = 'slurm'
        process.queue         = 'batch'
        process.clusterOptions = '--account=asbhatt'
    }
    test {
        params.input = "${projectDir}/test/samplesheet.csv"
        params.fasta = "${projectDir}/test/genome.fna"
        params.gff   = "${projectDir}/test/genome.gff3"
        params.outdir = 'test_results'
    }
}
